@import '~bootstrap/dist/css/bootstrap.css';

.Card{
    width:800px;
    display: grid;
    margin: 20px auto;
    padding: 0;
    background-color: #232946;
    border: 2px solid #121629;
}

.Job-title{
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Staatliches', cursive;
}

.Jobs{
    display: grid;
    place-items: center;
}

.btn, .btn:hover{
    background-color: transparent !important; 
    border:2px solid #7f5af0 !important;
    color: #7f5af0 !important;
    outline:none !important;
    box-shadow:none !important;

}

.remove, .remove:hover{
    border: 2px solid #b8c1ec !important;
    color: #b8c1ec !important;
    outline:none !important;
    background-color: transparent !important;
    box-shadow:none !important;
}


.btn:active, .btn:active:focus{
    box-shadow:none;
}